// [ vim: set tabstop=2 shiftwidth=2 expandtab : ] 

body {
  font-family: "Verdana";
  font-size: 12pt;
}

h1, h2, h3, h4 {
  text-shadow: rgba(64, 64, 64, 0.496094) 4px 3px 2px;
}

.noh.link {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

.noh.details {
  margin-left:250px;
  margin-top:20px;
}

.noh.stest {
  margin:30px;
  padding:30px;
  border:double;
}

.noh.oneof {
  position: relative;
}

.noh.oneof.element {
  max-height: 0px;
  opacity: 0;
  transition: all 0.4s;
}

.noh.oneof.element.selected {
  max-height: 300px;
  opacity: 1;
}

